@use '../base/variables' as *;
@use '../base/mixins' as *;
@use 'sass:color';

.alerta {
    padding: .2rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;

        th {
            color: $blanco;
            padding: 2rem;
        }
    }
    
    .imagen-tabla{
        width: 15rem;
    }
}

.Imagen-small {
    width: 20rem;
    margin: 2rem 0;
}